{% extends 'admin/model/list.html' %}
{% block list_header scoped %}
    {% if actions %}
    <th class="list-checkbox-column">
        <input type="checkbox" name="rowtoggle" class="action-rowtoggle"
               title="{{ _gettext('Select all records') }}" />
    </th>
    {% endif %}
    {% block list_row_actions_header %}
        {% if admin_view.column_display_actions %}
          <th class="list-checkbox-column text-muted small">&nbsp;</th>
        {% endif %}
    {% endblock %}
    {% for c, name in list_columns %}
    {% set column = loop.index0 %}
    <th class="column-header col-{{c}}">
        {% if admin_view.is_sortable(c) %}
            {% if sort_column == column %}
                <a href="{{ sort_url(column, True) }}"
                   title="{{ _gettext('Sort by %(name)s', name=name) }}">
                    {{ name }}
                    {% if sort_desc %}
                        <span class="fa fa-chevron-up glyphicon glyphicon-chevron-up"></span>
                    {% else %}
                        <span class="fa fa-chevron-down glyphicon glyphicon-chevron-down"></span>
                    {% endif %}
                </a>
            {% else %}
                <a href="{{ sort_url(column) }}"
                   title="{{ _gettext('Sort by %(name)s', name=name) }}">{{ name }}</a>
            {% endif %}
        {% else %}
            {{ name }}
        {% endif %}
        {% if admin_view.column_descriptions.get(c) %}
            <a class="fa fa-question-circle glyphicon glyphicon-question-sign"
                title="{{ admin_view.column_descriptions[c] }}"
                href="javascript:void(0)" data-role="tooltip"
            ></a>
        {% endif %}
    </th>
    {% endfor %}
{% endblock %}
